<h1>Login</h1>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type%>"><%= message %></div>
<% end %>
<%= form_for :login do |f| %>
  <div>
  	<%= f.label :email %>
  	<%= f.text_field :email %>
  </div>
  <div>
  	<%= f.label :password %>
  	<%= f.password_field :password %>
  </div>
  <div>
  	<%= f.submit "Log in" %>
  </div>
<% end %>
