<h1>Sign Up</h1>
<%= form_for @user do |f| -%>
  <div>
  	<%= f.label :name, "Name:" %>
  	<%= f.text_field :name %>
  </div>
  <div>
  	<%= f.label :email, "Email:" %>
  	<%= f.text_field :email %>
  </div>
  <div>
  	<%= f.label :password, "Password:" %>
  	<%= f.password_field :password %>
  </div>
  <div>
  	<%= f.submit 'Sign Up' %>
  </div>
<% end %>
