<%= form_for @post do |f| %>
<div>
	<div>
		<%= f.label "Title:" %>
		<%= f.text_field :title %>
	</div><br>
	<div>
		<%= f.label "Body:" %>
		<%= f.text_area :body %>
	</div><br>
	<div>
		<%= f.submit %>
	</div>
</div>
<% end %>