<h1>Musings</h1>

<% @posts.each do |post| %>
	<p><%= link_to post.title, post %></p>
	<p>Posted: <%= post.created_at.strftime("%b. %-d, %Y at %-l:%M %P") %></p>
<% end %>

<%= link_to 'Compose a new post', new_post_path %>
<%= link_to 'Admin Login', login_path %>
<%= link_to 'Log Out', logout_path %>
